<a href="https://colab.research.google.com/github/Rahulrec/PPML/blob/main/PANDAS_DATAFRAME_FUNCTIONS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PANDAS DATAFRAME FUNCTIONS
import pandas as pd
import numpy as np
#DATAFRAME.APPLY FUNCTION
print("DataFrame .apply function :\n ")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\n original data frame :\n",info)
print("\n square root of the data frame :\n",info.apply (np.sqrt))
print("\n sum of the each column:\n",info.apply(np.sum,axis=0))
print("\n sum of the each row:\n",info.apply(np.sum,axis=1))
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['x','y','z'])
print("\n original DataFrame:\n",info)
print("\n Minimum and maximum of each column:\n")
print(info.agg(['min','max']))

#DataFrame.Assign function
print("\n DataFrame.assign function:\n")
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','id'])
print("\n original DataFrame :\n ",d2)
d2['Age']=[35,40]
print("\n adding new columns:\n",d2)
d=d2.assign(sex=['Male','Male'])
print("\n adding new column:\n",d)

#DataFrame.Sort function
print("\n DataFrame sort function:\n")
info= pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\n sort index:\n ",info2)
#info=pd.DataFrame({'col1':[7,1,8,3],'col2':[8,12,4,9]})
info3=info.sort_values(by='col3')
print("\n sort values :\n ",info3)

#DataFrame.Merge FUnction
print("\n DataFrame.MergeFunction:\n")
l=pd.DataFrame({'id':[1,2,3,4,5],'name':['alex','arendan','arolin','avis','anson'],'sub':['sub1','sub2','sub3','sub6','sub5']})
print(l)
r=pd.DataFrame({'id':[1,2,3,4,5],'name':[' brenda','belin','biplin','berry','bary'],'sub':['sub1','sub2','sub3','sub4','sub5']})
print(r)
print(pd.merge(l,r,on='id'))

DataFrame .apply function :


 original data frame :
    P  Q
0  2  7
1  2  7
2  2  7

 square root of the data frame :
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

 sum of the each column:
 P     6
Q    21
dtype: int64

 sum of the each row:
 0    9
1    9
2    9
dtype: int64

 original DataFrame:
    x  y  z
0  1  5  7
1  2  7  8
2  3  6  9

 Minimum and maximum of each column:

     x  y  z
min  1  5  7
max  3  7  9

 DataFrame.assign function:


 original DataFrame :
      Emp   id
0  Dale  123
1  Mark  143

 adding new columns:
     Emp   id  Age
0  Dale  123   35
1  Mark  143   40

 adding new column:
     Emp   id  Age   sex
0  Dale  123   35  Male
1  Mark  143   40  Male

 DataFrame sort function:

       col3      col4
3  0.910990  0.731901
2  0.382353 -0.856125
0  0.623055 -0.980820
4  0.301710  0.548512
1  0.460513  1.976164

 sort index:
         col3      col4
0  0.623055 -0.980820
1  0.460513  1.976164
2  0.382353 -0.856125
3  0.910990  0.731901
4  0.301710  0.548512

 sort values :
         col3      col4
4  0.301710  0.548512
2  0.382353 -0.856125
1  0.460513  1.976164
0  0.623055 -0.980820
3  0.910990  0.731901

 DataFrame.MergeFunction:

   id     name   sub
0   1     alex  sub1
1   2  arendan  sub2
2   3   arolin  sub3
3   4     avis  sub6
4   5    anson  sub5
   id     name   sub
0   1   brenda  sub1
1   2    belin  sub2
2   3   biplin  sub3
3   4    berry  sub4
4   5     bary  sub5
   id   name_x sub_x   name_y sub_y
0   1     alex  sub1   brenda  sub1
1   2  arendan  sub2    belin  sub2
2   3   arolin  sub3   biplin  sub3
3   4     avis  sub6    berry  sub4
4   5    anson  sub5     bary  sub5