<a href="https://colab.research.google.com/github/Rahulrec/PPML/blob/main/PANDAS_DATAFRAME_BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PANDAS DATAFRAME BASICS
import pandas as pd
#Empty DataFrame
df=pd.DataFrame()
print(df)

emp=pd.Series(['Parker','John','Smith','William'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'10':id}
result=pd.DataFrame(frame)
print("\n Series to DataFrame\n")
print(result)
print("\n extracting one column:\n")
print(result['Emp'])

print("\n Adding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

print("\n deleting one column :\n")
del result['Age']
print(result)

print("\n Extracting the third row:\n")
print(result.loc[2])

print("\n slice rows:\n",result[1:3])
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])

Empty DataFrame
Columns: []
Index: []

 Series to DataFrame

       Emp   10
0   Parker  102
1     John  107
2    Smith  109
3  William  114

 extracting one column:

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

 Adding new column:

       Emp   10  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

 deleting one column :

       Emp   10
0   Parker  102
1     John  107
2    Smith  109
3  William  114

 Extracting the third row:

Emp    Smith
10       109
Name: 2, dtype: object

 slice rows:
      Emp   10
1   John  107
2  Smith  109