<a href="https://colab.research.google.com/github/Rahulrec/PPML/blob/main/TimeSeries_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime as dt
cd=dt.datetime.now()
print(cd)

2024-05-29 13:51:05.410997

In [ ]:
res=cd.strftime("%y")
print("\n Two_Digit year:",res)

 Two_Digit year: 24

In [ ]:
res1=cd.strftime("%y")
print("\n Four_digit year:",res1)
res=cd.strftime("%m")
print("\n Two_digit month[01,12]:",res)
res=cd.strftime("%m")
print("\n Two_digit month[01,12]:",res)
res=cd.strftime("%b")
print("\n Short version of month:",res)
res=cd.strftime("%B")
print("\n Full name of the month:",res)

 Four_digit year: 24

 Two_digit month[01,12]: 05

 Two_digit month[01,12]: 05

 Short version of month: May

 Full name of the month: May

In [ ]:
res=cd.strftime("%j")
print("\n Days of the year:",res)
res=cd

 Days of the year: 150