<a href="https://colab.research.google.com/github/Rahulrec/PPML/blob/main/Time_series_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Time series 3
import pandas as pd
import numpy as np
from datetime import datetime
#create data variables
dates=[datetime(2011,1,2),
       datetime(2011,1,5),
       datetime(2011,1,7),
       datetime(2011,1,8),
       datetime(2011,1,10),
       datetime(2011,1,12)]

ts=pd.Series(np.random.randn(6),index=dates)
print("date index\n",ts)

print("date index alone from series :\n",ts.index)
stamp=ts.index[2]
print("second index",stamp)
lts=pd.Series(np.random.randn(1000),
              index=pd.date_range("2001-01-01",periods=1000))
print("\n 1000 days",lts)
print("\n -2001 year",lts['2001'])
print("\n date range -05 month 2001 year \n",lts["2001-05"])
print("\n date range -few dates in 2000 year:\n",lts["2001"].head())
print("\n date range -first 15 dates in 2 months -2001 year:\n",lts["2002-02"].head(15))
print("\n date range rom 26-9-2001:\n",lts[datetime(2000,9,26):])
print("\n date range from 26-9-2001 to 25-9-2002",lts[datetime(2001,9,26):datetime(2000,9,25)])

date index
 2011-01-02   -0.759350
2011-01-05   -0.718777
2011-01-07    1.138235
2011-01-08   -1.820664
2011-01-10    0.475869
2011-01-12   -1.292098
dtype: float64
date index alone from series :
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)
second index 2011-01-07 00:00:00

 1000 days 2001-01-01    0.654605
2001-01-02    0.213781
2001-01-03    0.323862
2001-01-04    0.486117
2001-01-05    0.541064
                ...
2003-09-23   -0.160884
2003-09-24   -0.473445
2003-09-25   -0.858643
2003-09-26   -1.602444
2003-09-27    2.208975
Freq: D, Length: 1000, dtype: float64

 -2001 year 2001-01-01    0.654605
2001-01-02    0.213781
2001-01-03    0.323862
2001-01-04    0.486117
2001-01-05    0.541064
                ...
2001-12-27    0.053533
2001-12-28    1.543067
2001-12-29    0.957751
2001-12-30    1.867955
2001-12-31    0.519099
Freq: D, Length: 365, dtype: float64

 date range -05 month 2001 year
 2001-05-01   -1.043636
2001-05-02   -1.365989
2001-05-03   -1.293699
2001-05-04    1.053975
2001-05-05    0.250645
2001-05-06    2.365563
2001-05-07    0.931462
2001-05-08    0.268357
2001-05-09    1.392747
2001-05-10    0.911915
2001-05-11    2.150330
2001-05-12   -0.076656
2001-05-13    0.810199
2001-05-14    0.941700
2001-05-15   -0.115697
2001-05-16   -2.559897
2001-05-17   -0.121700
2001-05-18   -0.577671
2001-05-19   -0.056525
2001-05-20    0.727814
2001-05-21    0.620498
2001-05-22   -0.120957
2001-05-23    1.366692
2001-05-24   -0.000941
2001-05-25    0.310369
2001-05-26    0.649522
2001-05-27    0.323125
2001-05-28   -0.162193
2001-05-29    1.447529
2001-05-30   -1.417924
2001-05-31   -1.901876
Freq: D, dtype: float64

 date range -few dates in 2000 year:
 2001-01-01    0.654605
2001-01-02    0.213781
2001-01-03    0.323862
2001-01-04    0.486117
2001-01-05    0.541064
Freq: D, dtype: float64

 date range -first 15 dates in 2 months -2001 year:
 2002-02-01   -0.820481
2002-02-02    1.792090
2002-02-03   -0.386875
2002-02-04    0.067022
2002-02-05    1.177820
2002-02-06   -1.228905
2002-02-07   -0.773049
2002-02-08    0.108643
2002-02-09   -0.129180
2002-02-10   -0.279420
2002-02-11    0.460612
2002-02-12   -0.522241
2002-02-13   -1.204677
2002-02-14   -0.577032
2002-02-15    0.881893
Freq: D, dtype: float64

 date range rom 26-9-2001:
 2001-01-01    0.654605
2001-01-02    0.213781
2001-01-03    0.323862
2001-01-04    0.486117
2001-01-05    0.541064
                ...
2003-09-23   -0.160884
2003-09-24   -0.473445
2003-09-25   -0.858643
2003-09-26   -1.602444
2003-09-27    2.208975
Freq: D, Length: 1000, dtype: float64

 date range from 26-9-2001 to 25-9-2002 Series([], Freq: D, dtype: float64)